wheel
Flask
Flask-SocketIO
Flask-CORS
gevent
gevent-websocket
PyYAML
SQLAlchemy<2.0.0
alembic
mysqlclient
emoji
webcolors
mypy
pillow
requests
sqlalchemy-stubs
types-emoji
types-pyyaml
types-requests
