html, body {
  font-family: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.stream-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 0px 5px 5px;
}

.stream {
  flex-grow: 1;
}

.video-js {
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 20px;
  background: #000000;
  color: #eeeeee;
}

.stream-description {
  color: #eeeeee;
  padding-top: 3px;
}

.stream-padding {
  flex-grow: 1;
}

.stream-count {
  color: #eeeeee;
  padding-top: 3px;
  padding-right: 5px;
}

.chat-pane {
  padding: 0px 5px 0px 5px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #eeeeee;
}

.chat-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px;
  flex-grow: 1;
}

.chat-inner > * {
  margin-top: 5px;
}

#login, #admin {
  margin-bottom: 5px;
}

.messages, .blank {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;
}

#chat > #message {
  margin-right: 5px;
}

.chat-message {
  overflow-wrap: break-word;
  word-break: break-word;
}

.error {
  color: red;
}

.username-prompt {
  padding-bottom: 15px;
  font-style: italic;
}

img.emote, img.emoji {
  display: inline-block;
  max-width: 48px;
  max-height: 16px;
  width: auto;
  height: auto;
}

img.emote-big, img.emoji-big {
  display: inline-block;
  max-width: 96px;
  max-height: 32px;
  width: auto;
  height: auto;
}

img.user-type-icon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: -2px;
}

.user-joined, .user-left, .user-renamed, .command-heading, .user-list, .user-item, .server-message, .chat-heading, .chat-body, .chat-action {
  display: inline;
}

.user-item {
  white-space: nowrap;
}

.user-joined, .user-left, .user-renamed, .command-heading {
  font-weight: bold;
  color: #000;
}

.user-list, .chat-body {
  color: #000;
}

.chat-heading, .chat-action {
  font-weight: bold;
}

.server-message {
  font-weight: bold;
  color: #f00;
}

.name-highlight {
  background-color: #4400ff99;
  color: #fff;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#sendbutton, #drawbutton {
  font: "Atkinson Hyperlegible", Arial, Helvetica, sans-serif;
}

#sendbutton {
  width: 195px;
}

#drawbutton {
  width: 50px;
}

.error {
  margin: 0px;
}

#pictochat-canvas, .pictochat-drawing {
  outline: 3px solid #333;
  background-color: #f8f8f8;
  width: 230px;
  height: auto;
  margin: 10px 15px 0px 15px;
}

.pictochat-drawing { 
  margin: 2px 2px 0px 2px;
}

#pictochat-container {
  background-color: #333;
  width: 260px;
  height: 0px;
  transition: 0.1s ease-in-out;
  overflow: hidden;
  margin-left: -5px;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  flex-shrink: 0;
}

.pictochat-buttons {
  font-family: Atkinson Hyperlegible;
  color: black;
  margin: 5px;
}

#pictochat-send {
  background-color: #56f988;
  padding-left: auto;
}

#pictochat-togglecolor {
  background-color: #bbb;
}

#pictochat-clear {
  background-color: #d66;
}

#pictochat-pencil {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  fill: #000;
}

#pictochat-controls {
  display: flex;
  justify-content: center;
}
