html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

div.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

div.stream-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 5px 0px 5px 5px;
}

div.stream {
  flex-grow: 1;
}

.video-js {
  width: 100%;
  height: 100%;
}
div.info {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 20px;
  background: #000000;
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
}

div.stream-description {
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px;
}

div.stream-padding {
  flex-grow: 1;
}

div.stream-count {
  color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px;
  padding-right: 5px;
}

div.chat-pane {
  padding: 0px 5px 5px 5px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: #dddddd;
}
.chat-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px;
  flex-grow: 1;
}

.chat-inner > * {
  margin-top: 5px;
}

div.messages, div.blank {
  flex-grow: 1;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
}

div.chat-message {
  overflow-wrap: break-word;
  word-break: break-word;
}

div.error {
  color: red;
}

div.username-prompt {
  padding-bottom: 15px;
  font-style: italic;
}

img.emote, img.emoji {
  display: inline-block;
  max-width: 48px;
  max-height: 16px;
  width: auto;
  height: auto;
}

img.emote-big, img.emoji-big {
  display: inline-block;
  max-width: 96px;
  max-height: 32px;
  width: auto;
  height: auto;
}
