<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ streamer }}'s Stream</title>
      <style>
        @font-face {
          font-family: "Atkinson Hyperlegible";
          src: url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.ttf') }}") format("truetype");
        }
      </style>
      <link href="{{ url_for('static', filename='stream.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='stream-vertical.css') }}" media="screen and (max-aspect-ratio: 4/3)" rel="stylesheet" />
      <link href="https://vjs.zencdn.net/7.11.5/video-js.css" rel="stylesheet" />
      <link href="{{ url_for('static', filename='quality-selector.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='autocomplete.css') }}" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://vjs.zencdn.net/7.11.5/video.min.js"></script>
      <script src="{{ url_for('static', filename='silvermine-videojs-quality-selector.min.js') }}"></script>
      <script>
        videojs.addLanguage(
          'en',
          {
            "The media could not be loaded, either because the server or network failed or because the format is not supported.": {{streamer|tojson|safe}} + " is currently offline!",
          }
        )
      </script>
      <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
      <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
      <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="content">
      <div class="stream-pane">
        <div class="stream">
          <video
            id="my-video"
            class="video-js vjs-big-play-centered"
            controls
            autoplay
            preload="auto"
            data-setup='{"html5":{"vhs":{"overrideNative":true},"nativeAudioTracks":false,"nativeVideoTracks":false}}'
          >
            {% for playlist in playlists %}
              <source src="{{playlist.src}}" label="{{playlist.label}}" type="{{playlist.type}}" />
            {% endfor %}
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div class="info">
          <div class="stream-description"></div>
          <div class="stream-padding"></div>
          <div class="stream-count"></div>
        </div>
      </div>
      <div class="chat-pane">
        <form class="chat-inner" action="" method="POST" id="login">
          <div class="blank"></div>
          <div class="username-prompt">choose a user name</div>
          <input type="text" class="username" placeholder="User Name"/>
          <select name="color" class="color" id="color">
            <option value="salmon" style="font-weight:bold;color:salmon;">salmon</option>
            <option value="red" style="font-weight:bold;color:red;">red</option>
            <option value="orange" style="font-weight:bold;color:orange;">orange</option>
            <option value="yellow" style="font-weight:bold;color:yellow;">yellow</option>
            <option value="chartreuse" style="font-weight:bold;color:chartreuse;">chartreuse</option>
            <option value="yellowgreen" style="font-weight:bold;color:yellowgreen;">yellowgreen</option>
            <option value="green" style="font-weight:bold;color:green;">green</option>
            <option value="aqua" style="font-weight:bold;color:aqua;">aqua</option>
            <option value="blue" style="font-weight:bold;color:blue;">blue</option>
            <option value="teal" style="font-weight:bold;color:teal;">teal</option>
            <option value="fuchsia" style="font-weight:bold;color:fuchsia;">fuchsia</option>
            <option value="violet" style="font-weight:bold;color:violet;">violet</option>
            <option value="purple" style="font-weight:bold;color:purple;">purple</option>
            <option value="brown" style="font-weight:bold;color:brown;">brown</option>
            <option value="tan" style="font-weight:bold;color:tan;">tan</option>
            <option value="gray" style="font-weight:bold;color:gray;">gray</option>
            <option value="black" style="font-weight:bold;color:black;" selected>black</option>
          </select>
          <input type="submit" value="Connect"/>
          <div class="error"></div>
        </form>

        <form class="chat-inner" action="" method="POST" id="admin" style="display: none">
          <div class="blank"></div>
          <div class="username-prompt">authenticate for admin access</div>
          <input type="password" class="password" id="password"/>
          <input type="submit" value="Authenticate"/>
          <div class="error"></div>
        </form>

        <form class="chat-inner" action="" method="POST" id="chat" style="display: none">
          <div class="messages"></div>
          <input type="text" class="message" id="message" autocomplete="off" placeholder="Type a message..."/>
          <input type="submit" value="Send"/>
          <div class="error"></div>
        </form>

        <div class="emote-preload" style="display: none">
          {% for _, uri in emotes.items() %}
            <img src="{{uri}}" />
          {% endfor %}
        </div>

        <script type="text/javascript">
          videojs("my-video").ready(function(){
            var player = this;
            player.controlBar.addChild('QualitySelector');
          });
        </script>
        <script type="text/javascript">
          var socket = io.connect(location.protocol  + '//' + document.domain + ':' + location.port);
          var username = undefined;
          var streamer = {{ streamer|tojson|safe }};
          var playlists = {{ playlists|tojson|safe }};
          var emojis = {{ emojis|tojson|safe }};
          var emotes = {{ emotes|tojson|safe }};
          var icons = {{ icons|tojson|safe }};
          var connected = false;
          var live = false;
          var autoscroll = true;
          var users = [];

          // Support previews of emoji and emotes.
          var options = [];
          for (const [key, value] of Object.entries(emojis)) {
              options.push({text: key, preview: "&nbsp;" + twemoji.parse(value)});
          }
          for (const [key, value] of Object.entries(emotes)) {
              options.push({text: key, preview: "&nbsp;<img class=\"emoji-preview\" src=\"" + value + "\" />"});
          }

          var updater = autocomplete('#message', options);

          var updateusers = function() {
              var acusers = users.map(function(user) {
                  return {text: "@" + user.username, preview: ''};
              });
              updater(options.concat(acusers));
          }

          $( '#login' ).on( 'submit', function( e ) {
            e.preventDefault();
          } );

          $( '#chat' ).on( 'submit', function( e ) {
            e.preventDefault();
          } );

          var scrollTop = function( obj ) {
            // Sometimes the chrome/firefox calculation of scrollTopMax is off by one
            return Math.floor(obj.scrollTop) + 1;
          }

          var scrollTopMax = function( obj ) {
            return obj.scrollHeight - obj.clientHeight;
          }

          var add = function( inner ) {
            var box = $( 'div.messages' );
            box.append( '<div class="chat-message">' + inner + '</div>' );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            }
          }

          var displayerror = function( error ) {
            var box = $( 'div.messages' );
            $( 'div.error' ).text( error );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            }
          }

          var clearerror = function() {
            var box = $( 'div.messages' );
            $( 'div.error' ).text( "" );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            }
          }

          var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
          };

          var escapehtml = function( str ) {
            str = String(str);
            str = str.replace(/[&<>"'`=\/]/g, function (s) {
              return entityMap[s];
            });
            Object.keys(emojis).forEach(function(emoji) {
                str = str.replaceAll(emoji, emojis[emoji]);
            });
            str = twemoji.parse(str);
            Object.keys(emotes).forEach(function(emote) {
                str = str.replaceAll(emote, "<img src='" + emotes[emote] + "' class='emote' alt='" + emote + "' />");
            });
            return str;
          }

          var ping = function() {
            socket.emit( 'presence', {
              streamer : streamer,
            } );
          }

          var info = function() {
            $.get("/" + streamer + "/info", {}, function(response) {
              if (response.live) {
                $( 'div.stream-count' ).text( 'Number of viewers: ' + response.count );
                $( 'div.stream-description').html( escapehtml(response.description) );
              } else {
                $( 'div.stream-count' ).text( '' );
                $( 'div.stream-description').text( '' );
              }

              if (response.live != live) {
                live = response.live;
                videojs.players['my-video'].reset();
                videojs.players['my-video'].src(playlists);
                videojs.players['my-video'].load();
              }
            } ).fail(function(response) {
              if (response.status == 403) {
                // Stream password was turned on, we don't have access.
                location.reload();
              }
            } );
          }

          $('div.messages').scroll(function() {
            var box = $( 'div.messages' );
            autoscroll = scrollTop(box[0]) >= scrollTopMax(box[0]);
          });

          $(window).resize(function() {
            var box = $( 'div.messages' );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            }
          });

          socket.on( 'connect', function() {
            clearerror();
            $( '#login' ).on( 'submit', function( e ) {
              e.preventDefault();

              username = $( 'input.username' ).val();
              color = $( 'select.color' ).val();
              socket.emit( 'login', {
                username : username,
                streamer : streamer,
                color : color,
              } );
            } );

            ping();
            info();
            setInterval(ping, 5000);
            setInterval(info, 5000);
          } );

          socket.on( 'login key required', function( msg ) {
            username = msg.username;

            clearerror();
            $( '#login' ).remove();
            $( '#admin' ).show();
            $( '#password' ).focus()

            $( '#admin' ).on( 'submit', function( e ) {
              e.preventDefault();

              let password = $( 'input.password' ).val();
              socket.emit( 'login', {
                streamer : streamer,
                username : username,
                color : color,
                key : password,
              } );
            } );
          });

          socket.on( 'login success', function( msg ) {
            username = msg.username;

            clearerror();
            $( '#login' ).remove();
            $( '#admin' ).remove();
            $( '#chat' ).show();
            $( '#message' ).focus()

            $( '#chat' ).on( 'submit', function( e ) {
              e.preventDefault();

              let message = $( 'input.message' ).val();
              $( 'input.message' ).val( '' );

              socket.emit( 'message', {
                message : message,
              } );
            } );
          });

          socket.on( 'connected', function( msg ) {
            if( connected ) {
              add( '<div class="user-joined" style="color: ' + msg.color + '">' + iconify(msg) + escapehtml(msg.username) + ' joined!</div>' );
            }
            if( msg.username == username && !connected ) {
              var userlist = msg.users.map(function(user) {
                  return '<div class="user-item" style="color: ' + user.color + '">' + iconify(user) + escapehtml(user.username) + '</div>';
              });
              add(
                '<div class="command-heading">Connected users:</div> ' +
                '<div class="user-list">' + userlist.join(', ') + '</div>'
              );
              connected = true;
            }
            users = msg.users;
            updateusers();
          })

          socket.on( 'server', function( msg ) {
            add( '<div class="server-message">' + escapehtml(msg.msg) + '</div>' );
          })

          socket.on( 'disconnected', function( msg ) {
            if( connected ) {
              add( '<div class="user-left" style="color: ' + msg.color + '">' + iconify(msg) + escapehtml(msg.username) + ' left!</div>' );
            }
            users = msg.users;
            updateusers();
          })

          socket.on( 'userlist', function( msg ) {
            var userlist = msg.users.map(function(user) {
              return '<div class="user-item" style="color: ' + user.color + '">' + iconify(user) + escapehtml(user.username) + '</div>';
            });
            add(
              '<div class="command-heading">Connected users:</div> ' +
              '<div class="user-list">' + userlist.join(', ') + '</div>'
            );
          })

          socket.on( 'rename', function( msg ) {
            add( '<div class="user-renamed" style="color: ' + msg.color + '">' + iconify(msg) + escapehtml(msg.oldname) + ' is now known as ' + iconify(msg) + escapehtml(msg.newname) + '!</div>' );
            if (msg.oldname == username) {
                username = msg.newname;
            }
            users = msg.users;
            updateusers();
          })

          var highlight = function(msg) {
            var actualuser = embiggen(escapehtml(username)).toLowerCase();

            if( msg.length < actualuser.length ) {
              return msg;
            }

            var pos = 0;
            while (pos <= (msg.length - actualuser.length)) {
              if (pos > 0) {
                if (msg.substring(pos - 1, pos) != " ") {
                  pos ++;
                  continue;
                }
              }
              if (pos < (msg.length - actualuser.length)) {
                if (msg.substring(pos + actualuser.length, pos + actualuser.length + 1) != " ") {
                  pos ++;
                  continue;
                }
              }

              if (msg.substring(pos, pos + actualuser.length).toLowerCase() != actualuser) {
                pos++;
                continue;
              }

              before = '<span class="name-highlight">';
              after = '</span>';
              msg = (
                msg.substring(0, pos) +
                before +
                msg.substring(pos, pos + actualuser.length) +
                after +
                msg.substring(pos + actualuser.length, msg.length)
              );

              pos += actualuser.length + before.length + after.length;
            }

            return msg;
          }

          var embiggen = function(msg) {
              if( msg.length == 0 ) {
                  return msg;
              }

              var domentry = $('<span class="wrapperelement">' + msg + '</span>');
              var text = domentry.text().trim();
              if (text.length == 0 && msg.length > 0) {
                  // Emoji only, embiggen the pictures.
                  domentry.find('.emoji').addClass('emoji-big').removeClass('emoji');
                  domentry.find('.emote').addClass('emote-big').removeClass('emote');
                  return domentry.html();
              }

              return msg;
          }

          var iconify = function(msg) {
              if( icons.hasOwnProperty(msg.type) ) {
                  return '<img class="user-type-icon" src="' + icons[msg.type] + '" alt="' + msg.type + '" />';
              }

              return "";
          }

          var setCookie = function(name,value,days) {
              var expires = "";
              if (days) {
                  var date = new Date();
                  date.setTime(date.getTime() + (days*24*60*60*1000));
                  expires = "; expires=" + date.toUTCString();
              }
              document.cookie = name + "=" + (value || "")  + expires + "; path=/";
          }

          var getCookie = function(name) {
            return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
          }

          socket.on( 'message received', function( msg ) {
            if( connected ) {
              if( msg.username == username ) {
                clearerror();
              }
              add(
                '<div class="chat-heading" style="color: ' + msg.color + '">' + iconify(msg) + escapehtml(msg.username) + ':</div> ' +
                '<div class="chat-body">' + highlight(embiggen(escapehtml(msg.message))) + '</div>'
              );
            }
          })

          socket.on( 'action received', function( msg ) {
            if( connected ) {
              if( msg.username == username ) {
                clearerror();
              }
              add( '<div class="chat-action" style="color: ' + msg.color + '">* ' + iconify(msg) + escapehtml(msg.username) + ' ' + highlight(embiggen(escapehtml(msg.message))) + '</div>' );
            }
          })

          socket.on( 'password activated', function( msg ) {
            if( msg.username.toLowerCase() != username.toLowerCase() ) {
              // Kick all users so that they must enter the stream password. Don't kick the admin since
              // its possible to pass the password back to them as they just set it. Also, if we already
              // have the correct password saved (stream was re-passworded with same password), don't refresh
              // and instead display a message.
              $.get("/" + streamer + "/info", {}, function(response) {
                add( '<div class="server-message">' + escapehtml("Stream password has beeen set to \"" + getCookie("streampass") + "\"!") + '</div>' );
              } ).fail(function(response) {
                if (response.status == 403) {
                  location.reload();
                }
              } );
            }
          })

          socket.on( 'password set', function( msg ) {
            // Normally only sent to the admin that set thet password, so lets make sure they
            // don't get prompted for basically forever.
            setCookie("streampass", msg.password, 1024);
          })

          socket.on( 'password deactivated', function( msg ) {
            if( msg.username.toLowerCase() != username.toLowerCase() ) {
              // Show the password being deactivated to everyone else but the admin.
              add( '<div class="server-message">' + escapehtml(msg.msg) + '</div>' );
            }
          })

          socket.on( 'error', function( msg ) {
            displayerror( msg.msg );
            console.log( msg.msg );
          } );

          socket.on( 'warning', function( msg ) {
            console.log( msg.msg );
          } );
        </script>
      </div>
    </div>
  </body>
</html>
