<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ streamer }}'s Stream</title>
      <style>
        @font-face {
          font-family: "Atkinson Hyperlegible";
          src: url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.otf') }}") format("opentype"),
               url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.ttf') }}") format("truetype"),
               url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.woff') }}") format("woff");
        }
      </style>
      <link href="{{ url_for('static', filename='themes/' + default + '/stream.css') }}?{{ cache_bust }}" id="themecss" rel="stylesheet" />
      <link href="{{ url_for('static', filename='stream-vertical.css') }}?{{ cache_bust }}" media="screen and (max-aspect-ratio: 4/3)" rel="stylesheet" />
      <link href="{{ url_for('static', filename='video-js-8.3.0.css') }}?{{ cache_bust }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='quality-selector.css') }}?{{ cache_bust }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='autocomplete.css') }}?{{ cache_bust }}" rel="stylesheet">
      <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='linkify.min.js')}}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='linkify-html.min.js')}}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='video-js-8.3.0.min.js') }}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='videojs-persist-0.2.0.min.js') }}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='silvermine-videojs-quality-selector.min.js') }}?{{ cache_bust }}"></script>
      <script>
        videojs.addLanguage(
          'en',
          {
            "The media could not be loaded, either because the server or network failed or because the format is not supported.": {{streamer|tojson|safe}} + " is currently offline!",
          }
        )
      </script>
      <script src="{{ url_for('static', filename='socket.io-3.0.1.min.js') }}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='autocomplete.js') }}?{{ cache_bust }}"></script>
      <script src="{{ url_for('static', filename='twemoji-14.0.2.min.js') }}?{{ cache_bust }}" crossorigin="anonymous"></script>
  </head>

  <body>
    {% if mastodon %}
    <div style="display:none"><a rel="me" href="{{mastodon}}">Mastodon</a></div>
    {% endif %}
    <div class="content">
      <div class="stream-pane">
        <div class="stream">
          <video
            id="my-video"
            class="video-js vjs-big-play-centered"
            controls
            autoplay
            preload="auto"
            data-setup='{"html5":{"vhs":{"overrideNative":true},"nativeAudioTracks":false,"nativeVideoTracks":false},"liveui":true}'
          >
            {% for playlist in playlists %}
              <source src="{{playlist.src}}" label="{{playlist.label}}" type="{{playlist.type}}" />
            {% endfor %}
            <p class="vjs-no-js">
              To view this stream please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div class="info">
          <div class="stream-description"></div>
          <div class="stream-padding"></div>
          <div class="stream-count"></div>
        </div>
      </div>
      {% if chat == "hidden" or chat == "disabled" %}
      <div class="chat-spacer chat-collapsed">&nbsp;</div>
      <div class="chat-pane chat-collapsed">
      {% else %}
      <div class="chat-spacer">&nbsp;</div>
      <div class="chat-pane">
      {% endif %}
        {% if chat != "disabled" %}
          <div class="chat-collapse">&#11120; &#11122;</div>
        {% endif %}
        <div class="chat-boundary">
          <form class="chat-inner" action="" method="POST" id="login">
            {% if themes %}
              <div class="theme-prompt">choose a site theme</div>
              <select name="theme" class="theme" id="logintheme">
                {% for theme in themes %}
                  <option value="{{ theme }}"{{' selected' if theme == default else ''}}>{{ theme }}</option>
                {% endfor %}
              </select>
            {% endif %}
            <div class="blank"></div>
            <div class="username-prompt">choose a chat nickname</div>
            <input type="text" class="username" placeholder="nickname"/>
            <select name="color" class="color" id="color">
              <option value="salmon" style="font-weight:bold;color:salmon;background-color:#eeeeee;">salmon</option>
              <option value="red" style="font-weight:bold;color:red;background-color:#eeeeee;">red</option>
              <option value="orange" style="font-weight:bold;color:orange;background-color:#eeeeee;">orange</option>
              <option value="yellow" style="font-weight:bold;color:yellow;background-color:#eeeeee;">yellow</option>
              <option value="chartreuse" style="font-weight:bold;color:chartreuse;background-color:#eeeeee;">chartreuse</option>
              <option value="yellowgreen" style="font-weight:bold;color:yellowgreen;background-color:#eeeeee;">yellowgreen</option>
              <option value="green" style="font-weight:bold;color:green;background-color:#eeeeee;">green</option>
              <option value="aqua" style="font-weight:bold;color:aqua;background-color:#eeeeee;">aqua</option>
              <option value="blue" style="font-weight:bold;color:blue;background-color:#eeeeee;">blue</option>
              <option value="teal" style="font-weight:bold;color:teal;background-color:#eeeeee;">teal</option>
              <option value="fuchsia" style="font-weight:bold;color:fuchsia;background-color:#eeeeee;">fuchsia</option>
              <option value="violet" style="font-weight:bold;color:violet;background-color:#eeeeee;">violet</option>
              <option value="purple" style="font-weight:bold;color:purple;background-color:#eeeeee;">purple</option>
              <option value="brown" style="font-weight:bold;color:brown;background-color:#eeeeee;">brown</option>
              <option value="tan" style="font-weight:bold;color:tan;background-color:#eeeeee;">tan</option>
              <option value="gray" style="font-weight:bold;color:gray;background-color:#eeeeee;">gray</option>
              <option value="black" style="font-weight:bold;color:black;background-color:#eeeeee;" selected>black</option>
            </select>
            <input type="submit" value="Connect"/>
            <div class="error"></div>
          </form>

          <form class="chat-inner" action="" method="POST" id="admin" style="display: none">
            {% if themes %}
              <div class="theme-prompt">choose a site theme</div>
              <select name="theme" class="theme" id="auththeme">
                {% for theme in themes %}
                  <option value="{{ theme }}"{{' selected' if theme == default else ''}}>{{ theme }}</option>
                {% endfor %}
              </select>
            {% endif %}
            <div class="blank"></div>
            <div class="username-prompt">authenticate for admin access</div>
            <input type="password" class="password" id="password"/>
            <input type="submit" value="Authenticate"/>
            <div class="error"></div>
          </form>

          <form class="chat-inner" action="" method="POST" id="chat" style="display: none">
            <div class="messages"></div>
            <div class="message-input">
              <div class="new-messages-alert">new messages</div>
              <input type="text" class="message" id="message" autocomplete="off" placeholder="Type a message..."/>
            </div>
            <div class="buttons-container">
              <button id="sendbutton" value="Send">Send</button>
              <button id="drawbutton" form="null">Draw</button>
            </div>
            <div class="error"></div>
            <div class="pictochat-container" id="pictochat-container">
              <canvas id="pictochat-canvas" width="{{pictochat_image_width}}" height="{{pictochat_image_height}}"></canvas>
              <br>
              <div class="pictochat-controls">
                  <button class="pictochat-buttons" id="pictochat-togglecolor" form="null">
                  <svg
                  width="16"
                  height="16"
                  viewBox="0 0 4.2333332 4.2333335"
                  version="1.1"
                  id="pictochat-pencil"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:svg="http://www.w3.org/2000/svg">
                  <defs id="defs2" />
                      <g
                          id="layer1">
                          <path
                          id="pictochat-pencilnib"
                          style="opacity:1;stroke:none;stroke-width:16.9333;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:172.8;paint-order:fill markers stroke;stop-color:#000000"
                          d="M 3.4395833,2.38125 C 3.1517567,2.3848868 2.8386904,2.4461728 2.630781,2.6609984 2.4320473,2.8653223 2.3771283,3.1642788 2.3812464,3.439574 2.9986087,3.7041604 3.615971,3.9687469 4.2333333,4.2333333 3.96875,3.6159722 3.7041666,2.9986111 3.4395833,2.38125 Z" />
                          <path
                          id="pictochat-pencilbody"
                          style="opacity:1;stroke:none;stroke-width:16.9333;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:172.8;paint-order:fill markers stroke;stop-color:#000000"
                          d="M 1.0583333,1.3333333e-8 C 1.0583333,1.3333333e-8 0.52916667,0 0.26786763,0.2638395 0,0.52916667 0.00127687,1.0020562 0.00127687,1.0020562 c 0,0 1.40969453,1.4672485 2.11538973,2.1729438 1e-7,-0.79375 0.2645834,-1.0583333 1.058339,-1.0583199 z" />
                      </g>
                  </svg>Swap color!</button>
                  <button class="pictochat-buttons" id="pictochat-clear" form="null">Clear!</button>
                  <button class="pictochat-buttons" id="pictochat-send" disabled="" form="null">Send!</button>
              </div>
            </div>
          </form>

          <div class="emote-preload" style="display: none">
            {% for _, uri in emotes.items() %}
              <img src="{{uri}}" />
            {% endfor %}
            <img class="user-type-icon admin" />';
            <img class="user-type-icon moderator" />';
          </div>

          <script type="text/javascript">
            // Add quality selector to the stream so that people can choose lower bitrates.
            videojs("my-video").ready(function(){
              var player = this;

              player.controlBar.addChild('QualitySelector');
            });

            // Save volume/mute state on stream auto-refresh or disconnect/reconnect.
            videojs("my-video").persist();

            // Stop forms from submitting POST requests.
            $( '#login' ).on( 'submit', function( e ) {
              e.preventDefault();
            } );

            $( '#chat' ).on( 'submit', function( e ) {
              e.preventDefault();
            } );

            // Params for plugins.
            window.linkifyOptions = { defaultProtocol: "http", target: "_blank", validate: { email: (x) => false } };
            window.twemojiOptions = { base: "{{ url_for('static', filename='twemoji/') }}" }
            window.pictochatWidth = {{ pictochat_image_width|tojson|safe }};
            window.pictochatHeight = {{ pictochat_image_height|tojson|safe }}

            // Set up load parameters for thr below scripts.
            window.streamer = {{ streamer|tojson|safe }};
            window.playlists = {{ playlists|tojson|safe }};
            window.emojis = {{ emojis|tojson|safe }};
            window.emotes = {{ emotes|tojson|safe }};
            window.icons = {{ icons|tojson|safe }};

            // CSS theme swap-out support.
            window.themelink = "{{ url_for('static', filename='themes/:theme:/stream.css') }}?{{ cache_bust }}";
          </script>

          {% if themes %}
          <script type="text/javascript">
            // Make sure dropdowns are defaulted, because browsers like to change this and it
            // becomes inaccurate to the current theme.
            $('#auththeme').val({{ default|tojson|safe }});
            $('#logintheme').val({{ default|tojson|safe }});

            // Allow theme changes if there are multiple themes.
            $('#logintheme').on('change', function() {
              var value = this.value;

              // Update auth theme dropdown as well.
              $('#auththeme').val(value);

              // Update the theme itself.
              $('#themecss').attr('href', themelink.replace(':theme:', value));
            });

            $('#auththeme').on('change', function() {
              var value = this.value;

              // Update login theme dropdown as well.
              $('#logintheme').val(value);

              // Update the theme itself.
              $('#themecss').attr('href', themelink.replace(':theme:', value));
            });
          </script>
          {% endif %}

          {% if chat != "disabled" %}
          <script type="text/javascript">
            // Allow collapsing the chat panel.
            $('div.chat-collapse').on('click', function() {
              $('div.chat-pane').toggleClass('chat-collapsed');
              $('div.chat-spacer').toggleClass('chat-collapsed');
            });
            
            // Hide the collapse hover after some seconds, because it can be annoying.
            var hoverTimeout;
            $("div.chat-pane").hover(function() {
              clearTimeout(hoverTimeout);
              $("div.chat-collapse").removeClass("chat-collapse-hidden");
              hoverTimeout = setTimeout(function() {
                $("div.chat-collapse").addClass("chat-collapse-hidden");
              }, 3000);
            }, function() {});
          </script>
          {% endif %}

          <script src="{{ url_for('static', filename='pictochat.js') }}?{{ cache_bust }}"></script>
          <script src="{{ url_for('static', filename='stream.js') }}?{{ cache_bust }}"></script>
        </div>
      </div>
    </div>
  </body>
</html>
