<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{ streamer }}'s Stream</title>
      <style>
        @font-face {
          font-family: "Atkinson Hyperlegible";
          src: url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.otf') }}") format("opentype"),
               url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.ttf') }}") format("truetype"),
               url("{{ url_for('static', filename='Atkinson-Hyperlegible-Regular-102.woff') }}") format("woff");
        }
      </style>
      <link href="{{ url_for('static', filename='stream.css') }}?{{ cache_bust }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='stream-vertical.css') }}?{{ cache_bust }}" media="screen and (max-aspect-ratio: 4/3)" rel="stylesheet" />
      <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
      <link href="{{ url_for('static', filename='quality-selector.css') }}?{{ cache_bust }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='autocomplete.css') }}?{{ cache_bust }}" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
      <script src="{{ url_for('static', filename='silvermine-videojs-quality-selector.min.js') }}?{{ cache_bust }}"></script>
      <script>
        videojs.addLanguage(
          'en',
          {
            "The media could not be loaded, either because the server or network failed or because the format is not supported.": {{streamer|tojson|safe}} + " is currently offline!",
          }
        )
      </script>
      <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
      <script src="{{ url_for('static', filename='autocomplete.js') }}?{{ cache_bust }}"></script>
      <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="content">
      <div class="stream-pane">
        <div class="stream">
          <video
            id="my-video"
            class="video-js vjs-big-play-centered"
            controls
            autoplay
            preload="auto"
            data-setup='{"html5":{"vhs":{"overrideNative":true},"nativeAudioTracks":false,"nativeVideoTracks":false},"liveui":true}'
          >
            {% for playlist in playlists %}
              <source src="{{playlist.src}}" label="{{playlist.label}}" type="{{playlist.type}}" />
            {% endfor %}
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
        </div>
        <div class="info">
          <div class="stream-description"></div>
          <div class="stream-padding"></div>
          <div class="stream-count"></div>
        </div>
      </div>
      <div class="chat-pane">
        <form class="chat-inner" action="" method="POST" id="login">
          <div class="blank"></div>
          <div class="username-prompt">choose a user name</div>
          <input type="text" class="username" placeholder="User Name"/>
          <select name="color" class="color" id="color">
            <option value="salmon" style="font-weight:bold;color:salmon;background-color:#eeeeee;">salmon</option>
            <option value="red" style="font-weight:bold;color:red;background-color:#eeeeee;">red</option>
            <option value="orange" style="font-weight:bold;color:orange;background-color:#eeeeee;">orange</option>
            <option value="yellow" style="font-weight:bold;color:yellow;background-color:#eeeeee;">yellow</option>
            <option value="chartreuse" style="font-weight:bold;color:chartreuse;background-color:#eeeeee;">chartreuse</option>
            <option value="yellowgreen" style="font-weight:bold;color:yellowgreen;background-color:#eeeeee;">yellowgreen</option>
            <option value="green" style="font-weight:bold;color:green;background-color:#eeeeee;">green</option>
            <option value="aqua" style="font-weight:bold;color:aqua;background-color:#eeeeee;">aqua</option>
            <option value="blue" style="font-weight:bold;color:blue;background-color:#eeeeee;">blue</option>
            <option value="teal" style="font-weight:bold;color:teal;background-color:#eeeeee;">teal</option>
            <option value="fuchsia" style="font-weight:bold;color:fuchsia;background-color:#eeeeee;">fuchsia</option>
            <option value="violet" style="font-weight:bold;color:violet;background-color:#eeeeee;">violet</option>
            <option value="purple" style="font-weight:bold;color:purple;background-color:#eeeeee;">purple</option>
            <option value="brown" style="font-weight:bold;color:brown;background-color:#eeeeee;">brown</option>
            <option value="tan" style="font-weight:bold;color:tan;background-color:#eeeeee;">tan</option>
            <option value="gray" style="font-weight:bold;color:gray;background-color:#eeeeee;">gray</option>
            <option value="black" style="font-weight:bold;color:black;background-color:#eeeeee;" selected>black</option>
          </select>
          <input type="submit" value="Connect"/>
          <div class="error"></div>
        </form>

        <form class="chat-inner" action="" method="POST" id="admin" style="display: none">
          <div class="blank"></div>
          <div class="username-prompt">authenticate for admin access</div>
          <input type="password" class="password" id="password"/>
          <input type="submit" value="Authenticate"/>
          <div class="error"></div>
        </form>

        <form class="chat-inner" action="" method="POST" id="chat" style="display: none">
          <div class="messages"></div>
          <div class="message-input">
            <div class="new-messages-alert">new messages</div>
            <input type="text" class="message" id="message" autocomplete="off" placeholder="Type a message..."/>
          </div>
          <div id="buttons-container">
            <button id="sendbutton" value="Send">Send</button>
            <button id="drawbutton" form="null">Draw</button>
          </div>
          <div class="error"></div>
          <div id="pictochat-container">
            <canvas id="pictochat-canvas" width="{{pictochat_image_width}}" height="{{pictochat_image_height}}"></canvas>
            <br>
            <div id="pictochat-controls">
                <button class="pictochat-buttons" id="pictochat-togglecolor" form="null">
                <svg
                width="16"
                height="16"
                viewBox="0 0 4.2333332 4.2333335"
                version="1.1"
                id="pictochat-pencil"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <defs id="defs2" />
                    <g
                        id="layer1">
                        <path
                        id="pictochat-pencilnib"
                        style="opacity:1;stroke:none;stroke-width:16.9333;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:172.8;paint-order:fill markers stroke;stop-color:#000000"
                        d="M 3.4395833,2.38125 C 3.1517567,2.3848868 2.8386904,2.4461728 2.630781,2.6609984 2.4320473,2.8653223 2.3771283,3.1642788 2.3812464,3.439574 2.9986087,3.7041604 3.615971,3.9687469 4.2333333,4.2333333 3.96875,3.6159722 3.7041666,2.9986111 3.4395833,2.38125 Z" />
                        <path
                        id="pictochat-pencilbody"
                        style="opacity:1;stroke:none;stroke-width:16.9333;stroke-linecap:round;stroke-linejoin:round;stroke-dashoffset:172.8;paint-order:fill markers stroke;stop-color:#000000"
                        d="M 1.0583333,1.3333333e-8 C 1.0583333,1.3333333e-8 0.52916667,0 0.26786763,0.2638395 0,0.52916667 0.00127687,1.0020562 0.00127687,1.0020562 c 0,0 1.40969453,1.4672485 2.11538973,2.1729438 1e-7,-0.79375 0.2645834,-1.0583333 1.058339,-1.0583199 z" />
                    </g>
                </svg>Swap color!</button>
                <button class="pictochat-buttons" id="pictochat-clear" form="null">Clear!</button>
                <button class="pictochat-buttons" id="pictochat-send" disabled="" form="null">Send!</button>
            </div>
          </div>
        </form>

        <div class="emote-preload" style="display: none">
          {% for _, uri in emotes.items() %}
            <img src="{{uri}}" />
          {% endfor %}
        </div>

        <script type="text/javascript">
          // Add quality selector to the stream so that people can choose lower bitrates.
          videojs("my-video").ready(function(){
            var player = this;
            player.controlBar.addChild('QualitySelector');
          });

          // Stop forms from submitting POST requests.
          $( '#login' ).on( 'submit', function( e ) {
            e.preventDefault();
          } );

          $( '#chat' ).on( 'submit', function( e ) {
            e.preventDefault();
          } );
        </script>
        <script src="{{ url_for('static', filename='pictochat.js') }}?{{ cache_bust }}"></script>
        <script type="text/javascript">
          var socket = io.connect(location.protocol  + '//' + document.domain + ':' + location.port);
          var username = undefined;
          var streamer = {{ streamer|tojson|safe }};
          var playlists = {{ playlists|tojson|safe }};
          var emojis = {{ emojis|tojson|safe }};
          var emotes = {{ emotes|tojson|safe }};
          var icons = {{ icons|tojson|safe }};
          var connected = false;
          var live = false;
          var autoscroll = true;
          var users = [];

          // Support previews of emoji and emotes.
          var options = [];
          for (const [key, value] of Object.entries(emojis)) {
              options.push({text: key, preview: "&nbsp;" + twemoji.parse(value)});
          }
          for (const [key, value] of Object.entries(emotes)) {
              options.push({text: key, preview: "&nbsp;<img class=\"emoji-preview\" src=\"" + value + "\" />"});
          }
          var updater = autocomplete('#message', options);

          // Whenever user changes occur (joins/parts/renames), update the autocomplete typeahead for those names.
          var updateusers = function() {
              var acusers = users.map(function(user) {
                  return {text: "@" + user.username, preview: "<span>" + escapehtml(user.username) + "</span>"};
              });
              updater(options.concat(acusers));
          }

          // Calculate the integer scroll top of a given component.
          var scrollTop = function( obj ) {
            // Sometimes the chrome/firefox calculation of scrollTopMax is off by one
            return Math.floor(obj.scrollTop) + 1;
          }

          // Calculate the maximum scroll top of a given component.
          var scrollTopMax = function( obj ) {
            return obj.scrollHeight - obj.clientHeight;
          }

          var ensureScrolled = function() {
            var box = $( 'div.messages' );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            } else {
              $( 'div.new-messages-alert' ).css( 'display', 'inline-block' );
            }
          }

          // Add some inner HTML to the chat box.
          var add = function( inner ) {
            var box = $( 'div.messages' );
            box.append( '<div class="chat-message">' + inner + '</div>' );
            ensureScrolled();
          }

          // Display an error in the user error box at the bottom, mostly for login.
          var displayerror = function( error ) {
            var box = $( 'div.messages' );
            $( 'div.error' ).text( error );
            ensureScrolled();
          }

          // Remove a displayed error in the user error box at the bottom.
          var clearerror = function() {
            var box = $( 'div.messages' );
            $( 'div.error' ).text( "" );
            ensureScrolled();
          }

          var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
          };

          // Given a user-supplied message, escape any HTML in the message and apply emoji/emote lookups.
          var escapehtml = function( str ) {
            str = String(str);
            str = str.replace(/[&<>"'`=\/]/g, function (s) {
              return entityMap[s];
            });
            Object.keys(emojis).forEach(function(emoji) {
                str = str.replaceAll(emoji, emojis[emoji]);
            });
            str = twemoji.parse(str);
            Object.keys(emotes).forEach(function(emote) {
                str = str.replaceAll(emote, "<img src='" + emotes[emote] + "' class='emote' alt='" + emote + "' />");
            });
            return str;
          }

          // Given an HTML color code, calculates that color's relative luminance
          // Returned luminance value is on a scale from 0 to 1
          var colorLuminance = function(color) {
              const rgb = Object.freeze({
                RED: 0,
                GREEN: 1,
                BLUE: 2
              });
              
              const channels = [0, 0, 0];
              for (let i = 0; i < 3; ++i) {
                channels[i] = parseInt(color.slice( (i*2)+1 , ((i+1)*2)+1  ), 16);
                channels[i] /= 255;
                
                if(channels[i] <= 0.04045){
                  channels[i] /= 12.92;
                } else {
                  channels[i] = ((channels[i]+0.055)/1.055) ** 2.4;
                }
              }

              let luminance = 0.2126 * channels[rgb.RED] + 0.7152 * channels[rgb.GREEN] + 0.0722 * channels[rgb.BLUE];

              return luminance;
          }
          
          // Given an HTML color code for a text color, determines if that text color
          // deserves the CSS class for dark user text colors, or the CSS class for
          // light user text colors.
          var colorLuminanceClass = function(color) {
              let lumiThreshold = 0.5; // Defines the relative luminance threshold for considering a color light
              if ( colorLuminance(color) >= lumiThreshold ) {
                  return "light-user-text-color";
              } else {
                  return "dark-user-text-color";
              }
          }

          // Keep the socket alive, and allow accurate view counts for the stream.
          var ping = function() {
            socket.emit( 'presence', {
              streamer : streamer,
            } );
          }

          // Grab the stream information, possibly reload the stream control if the streamer went live,
          // display the info such as number of viewers and stream description. This also handles when
          // a password is applied to the stream that the viewer has not inputted, to kick anyone who
          // joined before a password was set.
          var info = function() {
            $.get("/" + streamer + "/info", {}, function(response) {
              if (response.live) {
                $( 'div.stream-count' ).text( 'Number of viewers: ' + response.count );
                $( 'div.stream-description').html( escapehtml(response.description) );
              } else {
                $( 'div.stream-count' ).text( '' );
                $( 'div.stream-description').text( '' );
              }

              if (response.live != live) {
                live = response.live;
                videojs.players['my-video'].reset();
                videojs.players['my-video'].src(playlists);
                videojs.players['my-video'].load();
              }
            } ).fail(function(response) {
              if (response.status == 403) {
                // Stream password was turned on, we don't have access.
                location.reload();
              }
            } );
          }

          // Walks an already HTML-stripped and emojified message to see if any part of it is a reference
          // to the current user. If so, wraps that chunk of text in a highlight div, but does not change
          // capitalization. This allows your own name to be highlighted without rewriting how somebody
          // wrote the message.
          var highlight = function(msg) {
            var actualuser = escapehtml(username).toLowerCase();

            if( msg.length < actualuser.length ) {
              return msg;
            }

            var pos = 0;
            while (pos <= (msg.length - actualuser.length)) {
              if (pos > 0) {
                if (msg.substring(pos - 1, pos) != " ") {
                  pos ++;
                  continue;
                }
              }
              if (pos < (msg.length - actualuser.length)) {
                if (msg.substring(pos + actualuser.length, pos + actualuser.length + 1) != " ") {
                  pos ++;
                  continue;
                }
              }

              if (msg.substring(pos, pos + actualuser.length).toLowerCase() != actualuser) {
                pos++;
                continue;
              }

              before = '<span class="name-highlight user-item">';
              after = '</span>';
              msg = (
                msg.substring(0, pos) +
                before +
                msg.substring(pos, pos + actualuser.length) +
                after +
                msg.substring(pos + actualuser.length, msg.length)
              );

              pos += actualuser.length + before.length + after.length;
            }

            return msg;
          }

          // Takes an alraedy HTML-stripped and emojified message and figures out if it contains only
          // emoji/emotes. If so, it makes them bigger because bigger emoji is more fun.
          var embiggen = function(msg) {
              if( msg.length == 0 ) {
                  return msg;
              }

              var domentry = $('<span class="wrapperelement">' + msg + '</span>');
              var text = domentry.text().trim();
              if (text.length == 0 && msg.length > 0) {
                  // Emoji only, embiggen the pictures.
                  domentry.find('.emoji').addClass('emoji-big').removeClass('emoji');
                  domentry.find('.emote').addClass('emote-big').removeClass('emote');
                  return domentry.html();
              }

              return msg;
          }

          // Takes any message that supports user type and outputs a user type icon for that user type.
          var iconify = function(msg) {
              if( icons.hasOwnProperty(msg.type) ) {
                  return '<img class="user-type-icon" src="' + icons[msg.type] + '" alt="' + msg.type + '" />';
              }

              return "";
          }

          // Takes an already formatted and iconified username string and wraps it in a user-item div
          // to ensure that the name doesn't get word-wrapped in the middle. Also allows name colors to
          // be applied when needed.
          var userify = function( user, color ) {
              var usecolor = color || false;
              if (usecolor) {
                  return '<div class="user-item ' + colorLuminanceClass(color) + '" style="color: ' + color + '">' + user + '</div>';
              } else {
                  return '<div class="user-item">' + user + '</div>';
              }
          }

          var setCookie = function(name,value,days) {
              var expires = "";
              if (days) {
                  var date = new Date();
                  date.setTime(date.getTime() + (days*24*60*60*1000));
                  expires = "; expires=" + date.toUTCString();
              }
              document.cookie = name + "=" + (value || "")  + expires + "; path=/";
          }

          var getCookie = function(name) {
            return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
          }

          // Hook autoscrolling to being a the bottom of the chat.
          $('div.messages').scroll(function() {
            var box = $( 'div.messages' );
            autoscroll = scrollTop(box[0]) >= scrollTopMax(box[0]);
            if (autoscroll) {
              $( 'div.new-messages-alert' ).css( 'display', 'none' );
            }
          });

          // Make sure we move the chat after animating pictochat.
          $('#pictochat-container').on('transitionend webkitTransitionEnd oTransitionEnd', function () {
            ensureScrolled();
          });

          // Automatically move the chat scroll to the bottom on window resize if we're autoscrolling.
          $(window).resize(function() {
            var box = $( 'div.messages' );
            if (autoscroll) {
              box[0].scrollTop = scrollTopMax(box[0]) + 1;
            }
          });

          // All of our websocket messages from the server are handled below.
          socket.on( 'connect', function() {
            clearerror();
            $( '#login' ).on( 'submit', function( e ) {
              e.preventDefault();

              username = $( 'input.username' ).val();
              color = $( 'select.color' ).val();
              socket.emit( 'login', {
                username : username,
                streamer : streamer,
                color : color,
              } );
              updateColor(color);
            } );

            ping();
            info();
            setInterval(ping, 5000);
            setInterval(info, 5000);
          } );

          socket.on( 'login key required', function( msg ) {
            username = msg.username;

            clearerror();
            $( '#login' ).remove();
            $( '#admin' ).show();
            $( '#password' ).focus()

            $( '#admin' ).on( 'submit', function( e ) {
              e.preventDefault();

              let password = $( 'input.password' ).val();
              socket.emit( 'login', {
                streamer : streamer,
                username : username,
                color : color,
                key : password,
              } );
            } );
          });

          socket.on( 'login success', function( msg ) {
            username = msg.username;

            clearerror();
            $( '#login' ).remove();
            $( '#admin' ).remove();
            $( '#chat' ).show();
            $( '#message' ).focus()

            // Send chat message.
            $( '#chat' ).on( 'submit', function( e ) {
              e.preventDefault();

              let message = $( 'input.message' ).val();
              $( 'input.message' ).val( '' );

              socket.emit( 'message', {
                message : message,
              } );
            } );

            // Send pictochat message.
            $( '#pictochat-send' ).on( 'click', function( e ) {
              e.preventDefault();
              let canvas = $( '#pictochat-canvas' )[0];
              let src = canvas.toDataURL();
              canvas.getContext("2d").clearRect(0,0,canvas.width,canvas.height);
              $("#pictochat-send").prop("disabled", true);

              socket.emit( 'drawing', {
                src : src,
              } );
            } );
          });

          socket.on( 'connected', function( msg ) {
            if( connected ) {
              add( '<div class="user-joined ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">' + userify(iconify(msg) + escapehtml(msg.username)) + ' joined!</div>' );
            }
            if( msg.username == username && !connected ) {
              var userlist = msg.users.map(function(user) {
                  return userify(iconify(user) + escapehtml(user.username), user.color);
              });
              add(
                '<div class="command-heading">Connected users:</div> ' +
                '<div class="user-list">' + userlist.join(', ') + '</div>'
              );
              connected = true;
            }
            users = msg.users;
            updateusers();
          })

          socket.on( 'server', function( msg ) {
            add( '<div class="server-message">' + escapehtml(msg.msg) + '</div>' );
          })

          socket.on( 'disconnected', function( msg ) {
            if( connected ) {
              add( '<div class="user-left ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">' + userify(iconify(msg) + escapehtml(msg.username)) + ' left!</div>' );
            }
            users = msg.users;
            updateusers();
          })

          socket.on( 'userlist', function( msg ) {
            var userlist = msg.users.map(function(user) {
              return userify(iconify(user) + escapehtml(user.username), user.color);
            });
            add(
              '<div class="command-heading">Connected users:</div> ' +
              '<div class="user-list">' + userlist.join(', ') + '</div>'
            );
          })

          socket.on( 'rename', function( msg ) {
            add( '<div class="user-renamed ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">' + userify(iconify(msg) + escapehtml(msg.oldname)) + ' is now known as ' + userify(iconify(msg) + escapehtml(msg.newname)) + '!</div>' );
            if (msg.oldname == username) {
                username = msg.newname;
            }
            users = msg.users;
            updateusers();
          })

          socket.on( 'message received', function( msg ) {
            if( connected ) {
              if( msg.username == username ) {
                clearerror();
              }
              add(
                '<div class="chat-heading ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">' + userify(iconify(msg) + escapehtml(msg.username)) + ':</div> ' +
                '<div class="chat-body">' + embiggen(highlight(escapehtml(msg.message))) + '</div>'
              );
            }
          })

          socket.on( 'action received', function( msg ) {
            if( connected ) {
              if( msg.username == username ) {
                clearerror();
              }
              add( '<div class="chat-action ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">* ' + userify(iconify(msg) + escapehtml(msg.username)) + ' ' + embiggen(highlight(escapehtml(msg.message))) + '</div>' );
            }
          })

          socket.on( 'drawing received', function( msg ) {
            if( connected ) {
              if( msg.username == username ) {
                clearerror();
              }
              add(
                '<div class="chat-heading ' + colorLuminanceClass(msg.color) + '" style="color: ' + msg.color + '">' + userify(iconify(msg) + escapehtml(msg.username)) + ' drew: </div> ' +
                '<img class="pictochat-drawing" width="{{pictochat_image_width}}" height="{{pictochat_image_height}}" src="' + msg.src + '" style="outline-color:'+ msg.color + ';"></img>'
              );
            }
          })

          socket.on( 'return color', function( msg ) {
            updateColor(msg.color);
          });

          socket.on( 'password activated', function( msg ) {
            if( msg.username.toLowerCase() != username.toLowerCase() ) {
              // Kick all users so that they must enter the stream password. Don't kick the admin since
              // its possible to pass the password back to them as they just set it. Also, if we already
              // have the correct password saved (stream was re-passworded with same password), don't refresh
              // and instead display a message.
              $.get("/" + streamer + "/info", {}, function(response) {
                add( '<div class="server-message">' + escapehtml("Stream password has beeen set to \"" + getCookie("streampass") + "\"!") + '</div>' );
              } ).fail(function(response) {
                if (response.status == 403) {
                  location.reload();
                }
              } );
            }
          })

          socket.on( 'password set', function( msg ) {
            // Normally only sent to the admin that set thet password, so lets make sure they
            // don't get prompted for basically forever.
            setCookie("streampass", msg.password, 1024);
          })

          socket.on( 'password deactivated', function( msg ) {
            if( msg.username.toLowerCase() != username.toLowerCase() ) {
              // Show the password being deactivated to everyone else but the admin.
              add( '<div class="server-message">' + escapehtml(msg.msg) + '</div>' );
            }
          })

          socket.on( 'error', function( msg ) {
            displayerror( msg.msg );
            console.log( msg.msg );
          } );

          socket.on( 'warning', function( msg ) {
            console.log( msg.msg );
          } );
        </script>
      </div>
    </div>
  </body>
</html>
